/test-results
/.DS_Store
/inex.html
/node_modules
/.vscode
/.idea
/.history
/.env.local
/.playwright-report
/.playwright-report/data
/.nyc_output
/.cache
/.next
/.nuxt
/.nuxt-data
/.nuxt-generate
/.nuxt/dist
/.test_results
/.index.html